:host {
  display: block;
}

.home-rails {
  position: relative;
  z-index: 10;
  margin-top: -2rem;

  @media (min-width: 768px) {
    margin-top: -3rem;
  }
}

.skeleton-rails {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem 1.25rem 0;

  @media (min-width: 768px) {
    padding: 2rem 2.5rem 0;
  }
}
